{% extends 'base.html' %}
{% block title %}О нашей компании{% endblock %}
{% block content %}
 <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Присоединяйтесь к лучшей инвест-компании в России</h2>

                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Лидеры рынка</h3>
                                        <p>Наша компания занимает первое место в России на протяжении 5 лет</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-certificate"></i></span>
                                   <figcaption>
                                        <h3>Официальная лицензия</h3>
                                        <p>Наша компания состоит в реестре и регулируется ЦБ России</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-bar-chart-o"></i></span>
                                   <figcaption>
                                        <h3>Высокие процентные ставки</h3>
                                        <p>На нашей платформе всегда высокие ставки. От 19% до 50% годовых</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

               </div>
          </div>
     </section>
{% endblock %}